<html>
    <head>
        {% if title %}
        <title>{{ title }} - COVID-19</title>
        {% else %}
        <title>How is my country doing?</title>
        {% endif %}
    </head>
    <body>
    <div>
        COVID-19 How is my country doing?:
        <a href="{{ url_for('index') }}">Home</a>
    </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>