{% extends "base.html" %}

{% block content %}
        <h1>List of most similar countries</h1><br>
        Similarity based on the proximity of the curves of numbers of deaths.
        <ul>
        {% for scountry in simcountries %}
        <li><div><p>{{ scountry[0] }} | Similarity={{ scountry[-1] }} | Difference in days={{ scountry[1] }} |
            <b><a href="{{ url_for('comparison', country = country, country2=scountry[0]) }}">See Comparison Charts</a></b> | <b><a href="get timeline">See Timeline</a></b></p></div></li>
        {% endfor %}
        </ul>
{% endblock %}
