{% extends "base.html" %}

{% block content %}
        <h1>{{ country }} vs. {{ country2 }}</h1><br>
        <img src="{{ url_for('figcomparerates', country = country, country2=country2) }}" alt="Image Placeholder" height="100">
{% endblock %}
