{% extends "base.html" %}

{% block content %}
    <h1>Choose a country</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.countries.label }}<br>
            {{ form.countries }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}